* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(250, 244, 244);
    font-family: "Inter", sans-serif ;
    color: rgb(0, 0, 0);
}

header {
    margin-bottom: 20px;
    color: hotpink;
}