.button-container {
    height: 48px;
    display: flex;
    justify-content: flex-end;

    & button {
        display: flex;
        gap: 12px;
        width: 200px;
        height: 48px;
        align-items: center;
        justify-content: center;

        background-color: var(--brand-dark);
        color: var(--text-heding);
        font: var(--body-md);
        border: none;
        border-radius: 10px;
        cursor: pointer;
         transition:
            background-color 0.2s ease,
            transform 0.2s ease;

        & img {
            width: 16px;
            height: 16px;
        }

        &:hover {
            background-color: var(--brand-light);
            transition: 2.s;
        }
    }

    
    
}