.invite {
    background-color: var(--shape-body);
    width: 820px;
    padding: 80px 130px;
    height: 100vh;
    border-radius: 12px;

    & .invite-heading {
        color: var(--text-heading);
        font: var(--heading-md);
        margin-bottom: 40px;
    }

    & form {
        & .about-invite {

            & .about-container {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 40px;
                & .icon-calendar {
                    width: 24px;
                    height: 24px;
                }

                & .title-about-invite {
                    color: var(--text-heading);
                    font: var(--heading-sm);
                    
                }
            }
        }
    }
}