.invite {
    background-color: var(--shape-body);
    width: 820px;
    padding: 80px 130px;
    height: 100vh;
    border-radius: 12px;

    overflow-y: auto;
    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer e Edge antigo */
    -ms-overflow-style: none;

    /* Chrome, Edge e Safari */
    &::-webkit-scrollbar {
        display: none;
    }
    
    & .invite-heading {
        color: var(--text-heading);
        font: var(--heading-md);
        margin-bottom: 40px;
    }
}
