*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: aquamarine;
    
    position: relative;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bg{

    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 0;
}


.box{
    width: 700px;
    height: 300px;
    background-color: purple;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    & .children-box{
        width: 300px;
        height: 200px;
        background-color: coral;

        position: absolute;
        
    }

}