.wrapper{
    display: grid;
    height: 300px;
    width: 300px;

    border: 1px solid black;
    

    & div:nth-child(1){
        background-color: blue;
        color: white;
    }
    & div:nth-child(2){
        background-color:aqua;
        color: black;
    }
    & div:nth-child(3){
        background-color:chartreuse;
        color: black;
    }
    & div:nth-child(4){
        background-color:coral;
        color: white;
    }
    & div:nth-child(5){
        background-color:darkorchid;
        color: white;
    }

    & div{
        border: 1px solid black;
    }
}